body{
     background-image: url('images/bg.jpg');
 }

 p{
      color: white;
      font-family: fantasy;
 }

 table{
     border-color:white;
     width: 100%; 
     height: 500px;
     color: white;
 }

 p{
     font-size: 35px;
     font-family: Arial, Helvetica, sans-serif;
 }

 .satu{
     border: 2px;
     border-color: black;
     height: 100px;
     background-color: rgb(245, 14, 61);
     text-align: center;
     margin-top: 0px;
     padding-top: 15px;
     font-size: 25px;
 }

 .dua{
     border: 2px;
     border-color: black;
     height: 75px;
     background-color: rgb(90, 90, 90);
     font-size: 35px;
     margin-top: 0;
     padding-top: 0;
     margin-bottom: 0px;
 }
 .tiga{
     border: 2px;
     border-color: black;
     background-color: rgb(90, 90, 90);
     margin-top: 0;
     padding-top: 0;
     margin-bottom: 0px;
 }

 footer{
     font-size: 10px;
     background-color: rgb(245, 14, 61);
     width: 100%;
	height: 25%;
	text-align: center;
    padding: 1%;
}
