*{
	margin: 0;
	padding: 0;
}

html, body{
    height: 100%;
	font-family: helvetica;
}

.text-center {
  text-align: center !important;
}

.btn {
  	display: inline-block;
  	font-weight: 400;
  	color: #212529;
  	text-align: center;
  	vertical-align: middle;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	background-color: transparent;
  	border: 1px solid transparent;
  	padding: 0.375rem 0.75rem;
  	font-size: 1rem;
  	line-height: 1.5;
  	border-radius: 0.25rem;
  	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  	color: #212529;
  	text-decoration: none;
}

.btn-success {
  	color: #fff;
  	background-color: #28a745;
  	border-color: #28a745;
}

.btn-success:hover {
  	color: #fff;
  	background-color: #218838;
  	border-color: #1e7e34;
}

.text-success {
  	color: #28a745 !important;
}

.text-white {
  	color: #fff !important;
}

.col-md-12{
	width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    background-color: white !important;
    padding: 2%;
    box-sizing: border-box;
}

header{
	position: relative;
	top: 0%;
	height: 50px;
	border-bottom: 3px solid #28a745;
	text-align: center;
}

.form{
	margin: 0 auto;
	margin-top: 3%;
	width: 50%;
	height: 30%;
	border: 1px solid #28a745;
	border-radius: 5px;
	text-align: center;
}

.header-form{
	height: 50px;
    padding: 2%;
    box-sizing: border-box;
}

form{
    padding: 2%;
    box-sizing: border-box;
    margin-bottom: 100px;
}

input, button{
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	line-height: inherit;
  	overflow: visible;
}

button,
select {
  	text-transform: none;
}

input[type="submit"] {
  	-webkit-appearance: button;
  	margin-top: 2% !important;
}

.form-control {
  	display: block;
  	width: 100%;
  	height: calc(1.5em + 0.75rem + 2px);
  	padding: 0.375rem 0.75rem;
  	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1.5;
  	color: #495057;
  	background-clip: padding-box;
  	border: 1px solid #ced4da;
  	border-radius: 0.25rem;
  	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}

footer{
	position: fixed;
	bottom: 0%;
	height: 50px;
	text-align: center;
    padding: 1%;
    box-sizing: border-box;
}